language: java

script: mvn clean verify -Pwith-lib,travis

jdk:
    - oraclejdk7
    - openjdk7

notifications:
  email:
    recipients:
      - antonin.stefanutti@gmail.com

after_success:
  - mvn jacoco:report
  - mvn -N coveralls:jacoco